In [15]:
import pandas as pd
import numpy as np
import plotly.express as px
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.cluster import Birch
from catboost import CatBoostRegressor
from catboost import CatBoostClassifier
from catboost import Pool
from sklearn.metrics import accuracy_score

In [61]:
data = pd.read_csv("../data/complete_dataset.csv")

In [62]:
data

,car_id,user_id,used_label,price,exteriorColor,interiorColor,drivetrain,minMPG,maxMPG,fuelType,...,mileage,brand,cluster_id,customer_id,gender,married,age,graduated,profession,familySize
0,84.0,0.0,1.0,62.0,11.0,80.0,1.0,17.0,27.0,3.0,...,35652.0,22.0,25.0,133.0,0.0,1.0,79.0,1.0,0.0,1.0
1,84.0,0.0,1.0,62.0,11.0,80.0,1.0,17.0,27.0,3.0,...,35652.0,22.0,25.0,131.0,1.0,1.0,49.0,1.0,0.0,3.0
2,84.0,0.0,1.0,62.0,11.0,80.0,1.0,17.0,27.0,3.0,...,35652.0,22.0,25.0,134.0,1.0,1.0,76.0,0.0,8.0,1.0
3,84.0,0.0,1.0,62.0,11.0,80.0,1.0,17.0,27.0,3.0,...,35652.0,22.0,25.0,138.0,0.0,0.0,36.0,1.0,1.0,2.0
4,84.0,0.0,1.0,62.0,11.0,80.0,1.0,17.0,27.0,3.0,...,35652.0,22.0,25.0,135.0,1.0,0.0,30.0,0.0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20680,15.0,74.0,1.0,41.0,117.0,10.0,5.0,15.0,24.0,3.0,...,18717.0,8.0,34.0,357.0,0.0,1.0,25.0,0.0,2.0,8.0
20681,15.0,74.0,1.0,41.0,117.0,10.0,5.0,15.0,24.0,3.0,...,18717.0,8.0,34.0,349.0,1.0,1.0,43.0,1.0,0.0,2.0
20682,15.0,74.0,1.0,41.0,117.0,10.0,5.0,15.0,24.0,3.0,...,18717.0,8.0,34.0,351.0,0.0,1.0,82.0,0.0,7.0,2.0
20683,15.0,74.0,1.0,41.0,117.0,10.0,5.0,15.0,24.0,3.0,...,18717.0,8.0,34.0,353.0,1.0,1.0,74.0,1.0,7.0,2.0
20684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN